extends ./_templates/_layout

block vars
  -
    head.title = ''
    head.slug = 'index'
    head.keywords = 'Oshinco,おしんこ,女はミルク,ワカメボーイズ,ワカメ,アッキー,エックン'
    head.description = 'おしんこ、女はミルク、ワカメボーイズ、我らは永遠いつもありがとうこれからもよろしく'
    isIndex = true
    wakame = [
      { name: "WAKAME", link: "https://www.flickr.com/photos/ryotezuka/", image: "/assets/images/avatar_wakame_orange.svg" },
      { name: "EKKUN", link: "https://www.flickr.com/photos/ekkun/", image: "/assets/images/avatar_ekkun_default.svg" },
      { name: "ACKEY", link: "https://www.flickr.com/photos/Ackey-Chan/", image: "/assets/images/avatar_ackey_default.svg" },
    ]
    ackey = [
      { name: "ACKEY", link: "https://www.flickr.com/photos/Ackey-Chan/", image: "/assets/images/avatar_ackey_orange.svg" },
      { name: "WAKAME", link: "https://www.flickr.com/photos/ryotezuka/", image: "/assets/images/avatar_wakame_default.svg" },
      { name: "EKKUN", link: "https://www.flickr.com/photos/ekkun/", image: "/assets/images/avatar_ekkun_default.svg" },

    ]
    ekkun = [
      { name: "EKKUN", link: "https://www.flickr.com/photos/ekkun/", image: "/assets/images/avatar_ekkun_orange.svg" },
      { name: "ACKEY", link: "https://www.flickr.com/photos/Ackey-Chan/", image: "/assets/images/avatar_ackey_default.svg" },
      { name: "WAKAME", link: "https://www.flickr.com/photos/ryotezuka/", image: "/assets/images/avatar_wakame_default.svg" },
    ]

block append head
  script(src="https://www.googletagmanager.com/gtag/js?id=UA-57420-13", async)
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-57420-13');

block append style
  //-
    link(rel='stylesheet', href=`${ filePath }assets/css/index.css`)

block includes
  //-
    include ./_template/parts/article/datas/_index
    include ./_template/parts/article/_article

block main

  main
    section.p-section
      .splide(class="js-swiper-wakame" aria-label="ワカメ")
        .splide-wrapper
          .splide__track
            .splide__list
              - for (let i = 0; i < 1; i++)
                each item in wakame
                  .splide__slide.item
                    a.item__link(href=item.link, target='_blank', rel='noopener noreferrer', class='js-item')
                      figure.item__figure
                        img(src='/assets/images/blank.png', data-image-src=item.image, alt=item.name, class='item__image')
                      h4.item__heading= item.name

    section.p-section
      .splide(class="js-swiper-ackey" aria-label="アッキー")
        .splide-wrapper
          .splide__track
            .splide__list
              - for (let i = 0; i < 1; i++)
                each item in ackey
                  .splide__slide.item
                    a.item__link(href=item.link, target='_blank', rel='noopener noreferrer', class='js-item')
                      figure.item__figure
                        img(src='/assets/images/blank.png', data-image-src=item.image, alt=item.name, class='item__image')
                      h4.item__heading= item.name

    section.p-section
      .splide(class="js-swiper-ekkun" aria-label="エックン")
        .splide-wrapper
          .splide__track
            .splide__list
              - for (let i = 0; i < 1; i++)
                each item in ekkun
                  .splide__slide.item
                    a.item__link(href=item.link, target='_blank', rel='noopener noreferrer', class='js-item')
                      figure.item__figure
                        img(src='/assets/images/blank.png', data-image-src=item.image, alt=item.name, class='item__image')
                      h4.item__heading= item.name

block append scripts
  //- script(src=`${ filePath }assets/js/main.min.js`)
